@model PYFlowers.Models.Product
@{
    Layout = "_Layout";
}
<div id="allpage">
    <div style="width:980px; margin-left:auto; margin-right:auto;">
        <div id="messageBox">
            <p>
                <h3>Congratulations! Your product, @Model.Name, has been added successfully.</h3>
                <a asp-action="Index">Return to Home</a>
        </div>
    </div>
</div>
