@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Flower Shop</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="allPage">
        <div class="text-center">
            <br />
            <div style="width:980px; margin-left:auto; margin-right:auto;">
                <h2>Welcome to Pete's Flower Shop!</h2>
                <img src="~/images/AssortedFlowers.jpg" />
                <h3>
                    I am selling flowers from all over the world. These are great gifts for your loved ones,
                    family, and even as surprise gifts! Please feel free to browse our collection of beautiful
                    flowers and feel free to suggest flowers from your country!
                </h3>
            </div>
        </div>
    </div>
</body>
</html>